/*---------------------------- design formulaire de note ------------------------------*/
h1 {
    margin-top: 35%;
}
#choiPerso {
    margin-top: 5%;/*-------------------- marge entre le haut de page et mon premier select ---------------------*/
    
    width: 40%;/*------------------------- taille de mon select ----------------------------*/
}
#choiFilm {
    margin-top: 5%;/*-------------------- marge entre mon premier select et mon deuxième select ---------------------*/
    width: 40%;/*------------------------- taille de mon deuxième select ----------------------------*/
}
#fontSelect {
    align-items: center;/*---------- align mes select au centre ------------*/
    display: flex;
    flex-direction: column;/*---------------------- positionne mai select en colonne -----------------------*/
}

img { 
    margin-top: 0%;/*-------------------- marge entre mon deuxieme select et mes etoiles ---------------------*/
    padding-right: 1%;/*------------------------- marge entre les etoiles ---------------------------*/
    width: 7%;/*------------------------------ taille de mes etoiles -------------------------------*/
}

/*------------------------ remplissage de mes différante etoile (note) --------------------------*/
.etoile:hover {
    background-image: url("../img/starJaune.svg");/*-------------- image avec font coloré -------------*/
    background-repeat: no-repeat;/*--------------- eviter la répétition de mes images ----------------*/
}

/*--------------------- positionnement de mon bouton envoyer ---------------------*/
#envoi {
    padding-bottom: 5%;
    padding-top: 5%;
}

/*--------------------font du formulaire------------------*/
form {
    margin-left: 10%;
    margin-right: 10%;
}

/*---------- design note ---------*/
#recupNoteMoyene {
    color: white;
    font-size: 20px;
    margin-top: 2%;
}

p {
    color: white;
    font-size: 20px;
    margin-top: 6%;
}

/*---------------------------- fin du design formulaire note -----------------------------*/
