*{
    margin:0; 
    padding:0;
    text-align: center;
    font-family: 'Laksaman';
}
#logo img{
    width:30px;
    height:30px;
    margin:auto;
}
#logo{
    display:flex;
    justify-content: center; 
    flex-direction: column;
    width:50px; 
    height:50px;
    background-color: white;
    border-radius: 50%;
}
html{
    width:100%;
    height:100%;
    background-color: #162d50ff;
}
body{
    width:100%;
    height:100%;
}
main{
    min-width:100%;
    min-height:100%;
    background-color: #162d50ff;
}
.afficheDefaut img{
    height:20em;
    width:14em;
    box-shadow: 0px 0px 10px black;
}
h1{
    color:white;
    font-size:1.5em;
}
.presentation h1{
    margin-top:30%;
}
h2{
    font-size:2em;
}
h3{
    margin:1%;
    font-weight: bold;
    font-size:1em;
}
.modal-body{
    font-size:0.8em;
}
.resume{
    text-align: justify;
}
.card-info{
    background-color: rgb(167, 166, 166);
    margin:5px;
}
.btn{
    margin:5px;
}
#cadreDcodeurs{
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width:20em;
    background-color:white;
    color:#162d50ff;
}
.display-card{
    border:none;
    background-color:black;
}
.card-columns{
    column-count: 2;
    margin: 5%;
}
#titleVoir h1{
    margin-top:25%;
}
@media screen and (min-width: 576px){
    #titleVoir h1{
        margin-top:12%;
    }
    .card-columns{
        column-count: 4;
        margin: 5%;
    }
    .presentation h1{
        margin-top:15%;
    }
}
.overlay { /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.textOverlay{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.form-group{
    padding-top: 10%;
    padding-left: 20%;
    width: 80%;
 
 }

 #formLoaded{
    padding-left: 20%;
    width: 80%;  
 }
 
 #label{
     color: white;
 }

 .form-row{
    color: white;   
 }